In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [13]:
corpus = (
"The sky is blue",
"The sky is clear and the sun is bright",
"The sun in the sky is bright",
"We can see the shining sun, the bright sun and clear sky",
"I love cheese cake with white cream",
"I really like ice melting cake"
)

In [14]:
tfidf_vectorizer = TfidfVectorizer(stop_words=('english'))
tfidf_matrix = tfidf_vectorizer.fit_transform(corpus)

In [15]:
print (tfidf_matrix.shape)

(6, 15)

In [16]:
print (tfidf_vectorizer.get_feature_names())

['blue', 'bright', 'cake', 'cheese', 'clear', 'cream', 'ice', 'like', 'love', 'melting', 'really', 'shining', 'sky', 'sun', 'white']

In [17]:
pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names())

,blue,bright,cake,cheese,clear,cream,ice,like,love,melting,really,shining,sky,sun,white
0,0.86004,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.510227,0.000000,0.000000
1,0.00000,0.491636,0.000000,0.000000,0.582322,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.421295,0.491636,0.000000
2,0.00000,0.604749,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.518224,0.604749,0.000000
3,0.00000,0.329267,0.000000,0.000000,0.390003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.475605,0.282157,0.658535,0.000000
4,0.00000,0.000000,0.379359,0.462625,0.000000,0.462625,0.000000,0.000000,0.462625,0.000000,0.000000,0.000000,0.000000,0.000000,0.462625
5,0.00000,0.000000,0.379359,0.000000,0.000000,0.000000,0.462625,0.462625,0.000000,0.462625,0.462625,0.000000,0.000000,0.000000,0.000000

In [18]:
print (cosine_similarity(tfidf_matrix[3:4], tfidf_matrix))

[[0.14396405 0.83161761 0.74359326 1.         0.         0.        ]]

In [19]:
import math
cos_sim = 0.83161761
angle_in_radians = math.acos(cos_sim)
print (math.degrees(angle_in_radians))

33.734734001139